.example-1 {
  background-color: chocolate;
}

.example-2 {
  background-color: hotPink;
}

.example-3 {
  background-color: yellow;
}

.ladbrokes-image-wrap {
  @include perspective(600px);
  overflow: hidden;

  .ladbrokes-image {
    @include transform(rotateY(-8deg) rotateX(6deg) translate3d(-4%, -3%, 0) scale3d(1.2, 1.2, 1));

    img {
      width: 100%;
      display: block;
      margin-bottom: -6%;
    }

    video {
      position: absolute;
      width: 100% * (300 / 1550);
      height: 100% * (250 / 992);
      top: 100% * (546 / 992);
      left: 100% * (943 / 1550);
    }
  }
}

.songtag-image-wrap {
  @include perspective(600px);
  overflow: hidden;

  .songtag-image {
    @include transform(rotateY(8deg) rotateX(6deg) translate3d(0%, -3%, 0));

    img {
      width: 100%;
      display: block;
      margin-bottom: -6%;
    }
  }
}
